In [1]:
# Part A: 
import pandas as pd

# 1 
data = pd.read_csv('StudentsPerformance.csv')

print("Dataset shape:", data.shape)
print("First few rows of the dataset:")
print(data.head(15))

Dataset shape: (1000, 8)
First few rows of the dataset:
    gender race/ethnicity parental level of education         lunch  \
0   female        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard

   test preparation course  math score  reading score  writing score
0                     none          72             72             74
1                completed          69             90             88
2                     none          90             95             93
3                     none          47             57             44
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52
11                    none          40             52             43
12                    none          65             81             73
13               completed          78             72             70
14                    none          50             53             58

In [2]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [3]:
# Mapping for parental education level
mapping = {
    "bachelor's degree": 1,
    'some college': 2,
    "master's degree": 3,
    "associate's degree": 4
}

# Encode education level
data['encoded_education_level'] = data['parental level of education'].map(mapping)

Since the feature parental level of education is a string type and we cannot map a string type we want to convert it into a numeric type for which we are using mapping. I have mapped the variables inside parental level of education into encoded_education_level

In [4]:
## Cleaning the NaaN values
data = data.dropna()

#### Did you discover interesting relations?
Just looking at the relations from using .head() there was not any interesting relation between the features as they were mostly random.

#### What feature/s would you like to be able to predict?
I would like to be able to predict parental level of education using the math score, reading score and writing score.

In [5]:
# 5
from sklearn.model_selection import train_test_split
X = data.drop(columns=['math score', 'reading score', 'writing score'])
y = data['parental level of education']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

I have also created a second set which will combine the math, reading and writing score into a new feature call Total_Score

In [6]:
second_set = data.copy()

In [7]:
second_set["Total_Score"] = second_set["math score"] + second_set["reading score"] + second_set["writing score"]

In [8]:
from sklearn.model_selection import train_test_split
# Splitting data into train and test sets
train_set, test_set = train_test_split(second_set, test_size=0.2, random_state=42)